
body{
    background-color:#ffefd4;
    min-height: 100vh;
    margin:0;
    display:flex;
    flex-direction: column;
}
.header{
    background-color:#CC7722;
    overflow: hidden; 
    top: 0;
    left: 0;
    min-height:60px;
    z-index: 999;
    width: 100%;
    color :#080801;
    font-family: "Libre Caslon Text" ;
    text-align: center;
    font-size: 30px;
    align-content: center;
    

}
/*----Navbar----*/
#navbar{
    display: block;
    color :#000000;
    background-color:#CC7722;
    text-align: center;
    width:100%;
    top:60px;
    min-height:60px;
    align-content: right;
    font-size: large;
    font-family: "Libre Caslon Text";
    overflow: hidden;

}
#navbar a {
    color:#000000;
    font-style: bold;
    
    padding:20px;
    text-decoration: none;
    text-align: center;
}
#navbar a:hover{
    color:#744210;
}
/*Login Form*/
#LoginForm {
    overflow:hidden;
    background-color: hsl(30, 89%, 85%);
    align-self: center;
    align-content: start;
    min-height:350px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 40px;
    width:70%;
}
#Student{
    overflow-x: hidden;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    width:41.5%;
    min-height: 200px;
    background-color:#CC7722;
    height:60px;
    border-radius: 40px;
    float: left;
    margin-left: 7.5%;
    margin-right: 1%;
}
#Student:hover{
    background-color:  hsl(30, 92%, 75%);
    color:#CC7722;
}
#Staff{
    overflow-x: hidden;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    width:41.5%;
    min-height: 200px;
    background-color:#CC7722;
    height:60px;
    border-radius: 40px;
    float: left;
    margin-left: 1%;
    margin-right: 7.5%;
}
#Staff:hover{
    background-color:  hsl(30, 92%, 75%);
    color:#CC7722;
}
#logintext{
    text-align: center;
    color:#CC7722;
    font-family: "Libre Caslon Text";
}
#Heading{
    color:hsl(41, 100%, 13%);
    text-align:center;
    font-family:"Libre Caslon Text";
}

/*----Footer----*/
.Footer {
    margin-top: 80px;
    bottom: 0;
    left: 0;
    padding: 20px;
    min-height: 20px;
    text-align: left;
    background: #080801;
  }
.Footer a{
    color: #D9D9D9;
    text-decoration: none;
    text-align:left;

}
#footerlinks{
    margin-top:20px;
    margin-left: 20px;
    padding:2em;

}


